{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            {% include 'products/_category_filter.html' %}
        </div>

        <div class="col-md-9">
            <h1>{{ product.name }}</h1>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ product.price }} руб.</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p>Категория: {{ product.category.name }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
