{% extends "base.html" %}

{% block content %}
<li><a href="{% url 'articles_create' %}">Создать статью</a></li>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
    <h1>Список статей</h1>
    {% for article in articles %}
        <h3>{{ article.id }}</h3>
        <h2>{{ article.name }}</h2>
        <div>{{ article.body|slice:":200" }}</div>
    {% endfor %}
{% endblock %}